<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
   
    <title>Ejercicios vue</title>
</head>

<body>
   
    <div id="contenedor">
       <h1> Bienvenido: {{ nameV }}</h1>
       
       <div v-show="formulario">

        <form action="" id="form">
            <fieldset>
                <legend>Registro de Usuario</legend>
                <legend v-show="!editarForm">Registrar</legend>
                <legend v-show="editarForm">Editar</legend>

                <label for="">
                    <input type="text" v-model="nombreF" placeholder="Nombre Completo" required>
                </label>
                <hr>
                <label for="">
                    <input type="text" v-model="usuarioF" placeholder="Sobrenombre" required>
                </label>
                <hr>
                <label for="">
                    <input type="email" v-model="emailF"  placeholder="Correo"  required>
                </label>

                <hr v-show="!editarForm">

                <hr>
                <label for=""  v-show="!editarForm">
                    <input type="password" v-model="passwordF" placeholder="Contraseña" required>
                </label>
                <hr>
                <label for="">
                    <input type="text" v-model="phoneForm" placeholder="Telefono"  required>
                </label>
                <hr>
                <label for="">
                    <input type="text" v-model="websiteForm" placeholder="pagina web"  required>
                </label>
                <hr>
                <button @click="register" type="submit">Entrar</button>
            </fieldset>
        </form>

    </div>

    <div v-show="!formulario">
        <fieldset>
            <button @click="formulario=true">Añadir Usuario</button>
            
            <legend>Tabla de Usuarios </legend>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Sobrenombre</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Página</th>
                        <th>Accciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="u in users">
                        <td>{{u.name}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.phone}}</td>
                        <td>{{u.website}}</td>
                        <td>
                            <button @click="modificar(u)">Modificar</button>
                            <button @click="eliminar(u.id)">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </fieldset>
    </div>
    <button @click="cerrarSesion">Cerrar Sesión</button>
</div>

    <script src="https://unpkg.com/vue@3"></script>
    <script type="text/javascript">
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    users:null,
                    editarForm: false,
                    formulario: false,
                    nombreF: '', 
                    usuarioF: '',
                    emailF: '',
                    passwordF: '',
                    phoneForm: '',
                    websiteForm: ''
                } 
            },
            methods: {
                register() {
                    if (this.editarForm) {
                        this.users.splice(this.numberId - 1, 1, ({
                            id: this.numberId,
                            name: this.nombreF,
                            username: this.usuarioF,
                            email: this.emailF,
                            password: this.passwordF,
                            phone: this.phoneForm,
                            website: this.websiteForm,
                        }))
                    } else {
                        id += 1;
                        this.users.push({
                            id: id,
                            name: this.nombreF,
                            username: this.usuarioF,
                            email: this.emailF,
                            phone: this.phoneForm,
                            website: this.websiteForm,
                        });
                    }
                    this.numberId = ''
                    this.nombreF = ''
                    this.usuarioF = ''
                    this.emailF = ''
                    this.passwordF = ''
                    this.phoneForm = ''
                    this.websiteForm = ''
                    this.formulario = false;
                    this.editarForm = false;
                    
                },
                cerrarSesion() {
                    localStorage.removeItem('user');
                    window.location.href = "index.html";
                },
                modificar(u) { 
                    this.editarForm= true;
                    this.formulario = true;
                    this.numberId = u.id
                    this.nombreF = u.name
                    this.usuarioF = u.username
                    this.emailF = u.email
                    this.passwordF = u.password
                    this.phoneForm = u.phone
                    this.websiteForm = u.website
                },
                eliminar(id2) {
                    id2 -= 1;
                    this.users.splice(id2, 1);
                      console.log(id2);
                }
            },
            mounted() {
                var u = localStorage.getItem('user')
                var user = JSON.parse(u)

                this.nameV = user.name
                fetch('users.json')
                    .then((res) => res.json()) 
                    .then((json) => (this.users = json , id = json.length))
                    .catch((err) => (alert('no data')))
            }
        }).mount('#contenedor')
    </script>

</body>

</html>