<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
   
    <title>Ejercicios vue</title>
</head>

<body>
   
    <div id="contenedor">
       <span> Bienvenido: {{ nameV }}</span>
       
       <div v-show="formulario">

        <form action="" id="form">
            <fieldset>
                <legend>Registro de Usuario</legend>
                <label for="">
                    <input type="text" v-model="nombreF" placeholder="Nombre Completo" required>
                </label>
                <hr>
                <label for="">
                    <input type="text" v-model="usuarioF" placeholder="Sobrenombre" required>
                </label>
                <hr>
                <label for="">
                    <input type="email" v-model="emailF"  placeholder="Correo"  required>
                </label>
                <hr>
                <label for="">
                    <input type="password" v-model="passwordF" placeholder="Contraseña" required>
                </label>
                <hr>
                <label for="">
                    <input type="text" v-model="phoneForm" placeholder="Telefono"  required>
                </label>
                <hr>
                <label for="">
                    <input type="text" v-model="websiteForm" placeholder="pagina web"  required>
                </label>
                <hr>
                <button @click="register" type="submit">Entrar</button>
            </fieldset>
        </form>

    </div>

    <div v-show="!formulario">
        <fieldset>
            <button @click="formulario=true">Añadir Usuario</button>
            
            <legend>Tabla de Usuarios </legend>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Sobrenombre</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Página</th>
                        <th>Accciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="u in users">
                        <td>{{u.name}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.phone}}</td>
                        <td>{{u.website}}</td>
                        <td>
                            <button>Modificar</button>
                            <button>Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </fieldset>
    </div>
    <button @click="cerrarSesion">Cerrar Sesión</button>
</div>

    <script src="https://unpkg.com/vue@3"></script>
    <script type="text/javascript">
        const { createApp } = Vue
        createApp({
            data() {
                return {
                    formulario: false,
                    nombreF: '', 
                    usuarioF: '',
                    emailF: '',
                    passwordF: '',
                    phoneForm: '',
                    websiteForm: ''
                } 
            },
            methods: {
                register() {
                    this.formulario = false;

                    this.users.push({
                        name: this.nombreF,
                        username: this.usuarioF,
                        email: this.emailF,
                        password: this.passwordF,
                        phone: this.phoneForm,
                        website: this.websiteForm,
                    });

                    this.nombreF = '',
                        this.usuarioF = '',
                        this.emailF = '',
                        this.passwordF = '',
                        this.phoneForm = '',
                        this.websiteForm = ''
                },
                cerrarSesion() {
                    localStorage.removeItem('user');
                    window.location.href = "index.html";
                }
            },
            mounted() {
                var u = localStorage.getItem('user')
                var user = JSON.parse(u)

                this.nameV = user.name
                fetch('users.json')
                    .then((res) => res.json()) 
                    .then((json) => (this.users = json))
                    .catch((err) => (alert('no data')))
            }
        }).mount('#contenedor')
    </script>

</body>

</html>